@use "../abstracts/breakpoints";
.container {
  nav {
    position: sticky;
    & > div {
      top: 0;
    }
  }
  section {
    margin: 12px 0 24px 0;
    aside {
      padding: 0 24px;
      h1 {
        padding: 0;
        text-align: center;
      }
      ul {
        list-style: none;
        padding: 0;
        text-align: justify;

        li {
          font-size: clamp(1rem, 4vw, 1.1rem);
          margin-top: 12px;
        }
      }
    }
    form {
      margin: 0 auto;
    }
  }
  @media (min-width: breakpoints.$screen-tablet-portrait) {
    section {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
    aside {
      max-width: 800px;
      margin: 0 auto;
    }
    form {
      align-self: center;
    }
  }
}
