@use "../abstracts/colors";

.container {
  margin-bottom: 24px;
  width: 100%;

  nav {
    & > div {
      top: 0;
    }
  }

  .title {
    align-items: center;
    background-color: colors.$primary-gray;
    border-bottom-right-radius: 141px;
    color: colors.$primary-black;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 24px;
    padding: 0 12px;
    text-align: justify;
  }

  section {
    margin-bottom: 24px;
    padding: 0 12px;

    h2 {
      padding: 0;
    }

    ul {
      display: flex;
      flex-flow: column wrap;
      gap: 24px 0;
      list-style: none;
      padding: 0;
      text-align: justify;

      li::before {
        content: "\2022";
        margin-right: 5px;
      }
    }
  }

  section:last-of-type {
    ul {
      li::before {
        content: none;
      }
    }
  }

  form {
    margin: 0 auto;
  }
}
