{
  "lint-staged": {
    "src/**/*.{js,jsx}": [
      "eslint . --fix",
      "git add"
    ],
    "src/**/*.scss": [
      "stylelint --syntax scss --fix",
      "git add"
    ]
  },
  "husky": {
    "hooks": {
      "pre-commit": "lint-staged && npm run lint && npm run test"
    }
  }
}
