@use "../abstracts/colors";

.container {
  max-width: 980px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: colors.$terciary-black;
  border-bottom-right-radius: 141px;
  border-top-right-radius: 141px;
  margin-bottom: 60px;

  h2 {
    padding-bottom: 30px;
    color: colors.$primary-gray;
    text-align: center;
  }

  img {
    height: clamp(150px, 20vw, 300px);
    border-radius: 146px;
    margin: auto;
    border: 31px colors.$primary-black solid;
    align-self: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    column-gap: 38px;
    font-size: clamp(1.2rem, 4vw, 1.2rem);
    padding: 0;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      text-align: center;
      width: 242px;
      height: 122px;
      color: colors.$primary-white;
      border-radius: 19px;
      border: dashed 4px colors.$primary-white;

      &:nth-child(1)::after {
        content: "\2656";
        font-size: 2rem;
      }

      &:nth-child(2)::after {
        content: "\2713";
        font-size: 2rem;
      }

      &:nth-child(3)::after {
        content: "\2600";
        font-size: 2rem;
      }

      &:nth-child(4)::after {
        content: "\267B";
        font-size: 2rem;
      }

      &:nth-child(5)::after {
        content: "\2696";
        font-size: 2rem;
      }

      &:nth-child(6)::after {
        content: "\2764";
        font-size: 2rem;
      }
    }
  }

  button {
    align-self: center;
  }
}
