@use "../abstracts/colors";

.container {
  background-color: colors.$primary-black;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 60px;
  padding: clamp(20px, 5vw, 40px);

  h2 {
    color: colors.$primary-white;
    padding-bottom: 30px;
    text-align: center;
  }

  ul {
    color: colors.$secondary-gray;
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(1.2rem, 4vw, 1.2rem);
    justify-content: center;
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      background-color: colors.$primary-black;
      color: colors.$primary-white;
      display: flex;
      flex-direction: column;
      min-width: 50vw;
      padding: 0 29px;
      padding-bottom: 50px;

      &:nth-child(1) {
        background-color: colors.$primary-white;
        border-top-left-radius: 141px;
        border-top-right-radius: 141px;
        color: colors.$primary-black;

        &::before {
          color: colors.$primary-black;
          content: "\2780";
          font-size: 6rem;
        }
      }

      &:nth-child(2)::before {
        color: colors.$primary-white;
        content: "\2781";
        font-size: 6rem;
      }

      &:nth-child(3) {
        background-color: colors.$primary-white;
        border-bottom-left-radius: 141px;
        border-bottom-right-radius: 141px;
        color: colors.$primary-black;

        &::before {
          color: colors.$primary-black;
          content: "\2782";
          font-size: 6rem;
        }
      }
    }
  }

  button, a {
    align-self: center;
  }
}
