@use "../abstracts/colors";
@use "../base/typography";

.container {
  background-color: colors.$primary-gray;
  border-bottom-left-radius: 141px;
  border-top-left-radius: 141px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding: clamp(0px, 5vw, 40px);

  h2 {
    color: colors.$primary-black;
    padding-bottom: 30px;
    text-align: center;
  }

  ul {
    border-radius: 66px;
    box-shadow: 0 -7px 17px colors.$secondary-gray;
    color: colors.$primary-white;
    display: flex;
    flex-wrap: wrap;
    font-family: typography.$secondary-font-family;
    font-size: clamp(1rem, 4vw, 1.1rem);
    justify-content: space-around;
    list-style: none;
    margin: auto;
    margin-bottom: 30px;
    max-width: 980px;
    padding: 0;
    row-gap: 27px;
    text-align: center;

    li {
      align-items: center;
      border-bottom: solid 2px colors.$primary-green;
      color: colors.$primary-black;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      justify-content: center;
      list-style-type: none;
      padding: 30px;
    }
  }

  button, a {
    align-self: center;
  }
}
