@use "../abstracts/colors";

.container {
  align-items: stretch;
  background-color: colors.$primary-white;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: auto;
  max-width: 980px;
  min-height: 100vh;
  padding: 0 10px;
  position: relative;
  row-gap: clamp(3vh, 4vw, 4vh);
  text-align: center;
  z-index: 0;

  h1 {
    color: colors.$primary-green;
    font-size: clamp(1.4rem, 5vw, 1.8rem);
  }

  p {
    color: colors.$primary-green;
    font-size: clamp(1.2rem, 5vw, 1.6rem);

    em {
      color: colors.$primary-black;
      font-size: clamp(1.2rem, 5vw, 1.6rem);
      font-weight: 500;
    }
  }

  .cta_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -1;

    img {
      height: clamp(280px, 30vw, 440px);
    }
  }
}
