@use '../abstracts/colors';

.container {
    display: flex;
    flex-direction: column;
    padding: clamp(0px, 5vw, 40px);
    background-color: colors.$primary-gray;
    margin-bottom: 60px;
    border-bottom-left-radius: 141px;
    border-top-left-radius: 141px;


    h2 {
        padding-bottom: 30px;
        color: colors.$primary-black;
        text-align: center;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 27px;
        font-family: helvetica, sans serif;
        font-size: clamp(1rem, 4vw, 1.1rem);
        color:#b2becd;
        list-style: none;
        color: colors.$primary-white;
        text-align: center;
        padding: 0;
        max-width: 980px;
        margin: auto;
        box-shadow: 0px -7px 17px #b5b5b5;
        border-radius: 66px;
        margin-bottom: 30px;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            width: 302px;
            height: 111px;
            color: colors.$primary-black;
            font-weight: bold;
            border-bottom: solid 2px colors.$primary-gold;
        }

    }

    button {
        align-self: center;
    }

}