@use "../abstracts/colors";

.container {
  background-color: colors.$primary-black;
  border-bottom: 1px colors.$secondary-gray solid;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding: 40px;

  h2 {
    color: colors.$primary-white;
    padding-bottom: 30px;
    text-align: center;
  }

  ul {
    color: colors.$secondary-gray;
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(1.2rem, 4vw, 1.2rem);
    justify-content: center;
    list-style: none;
    padding: 0;
    row-gap: 20px;
    text-align: center;
  }

  button,
  a {
    align-self: center;
  }
}
