@use "../abstracts/colors";

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px colors.$secondary-gray solid;
  background-color: colors.$primary-black;
  margin-bottom: 60px;

  h2 {
    padding-bottom: 30px;
    color: colors.$primary-white;
    text-align: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: clamp(1.2rem, 4vw, 1.2rem);
    color: colors.$secondary-gray;
    row-gap: 20px;
    column-gap: 10px;
    list-style: none;
    justify-content: center;
    text-align: center;
    padding: 0;
  }

  button {
    align-self: center;
  }
}
