@use "../abstracts/colors";

.container {
  max-width: 980px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: clamp(0px, 5vw, 40px);
  border-radius: 38px;
  border: 4px solid colors.$secondary-black;
  background-color: colors.$primary-black;
  margin-bottom: 60px;

  h2 {
    padding-bottom: 30px;
    color: colors.$primary-white;
    text-align: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 27px;
    font-family: helvetica, sans serif;
    font-size: clamp(1rem, 4vw, 1.1rem);
    list-style: none;
    color: colors.$primary-white;
    text-align: center;
    padding: 0;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      width: 302px;
      height: 111px;
      background-color: colors.$primary-black;
      color: colors.$primary-white;
      border-radius: 15px;
      border-bottom: 2px solid colors.$secondary-black;
    }
  }

  span {
    text-align: center;
    color: colors.$primary-white;
    font-size: clamp(1.2rem, 5vw, 1.8rem);
    padding-bottom: 30px;
  }

  button {
    align-self: center;
  }
}
