@use '../abstracts/colors';

.container {
    display: flex;
    flex-direction: column;
    padding: clamp(0px, 5vw, 40px);
    border-radius: 38px;
    background-color: colors.$terciary-black;
    margin-bottom: 25px;


    h2 {
        padding-bottom: 30px;
        color: colors.$primary-white;
        text-align: center;
    }

    img {
        height: clamp(150px, 20vw, 300px);
        border-radius: 146px;
        margin: auto;
        align-self: center;
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 27px;
        font-family: helvetica, sans serif;
        font-size: clamp(1rem, 4vw, 1.2rem);
        color:#b2becd;
        list-style: none;
        color: colors.$primary-white;
        text-align: center;
        padding: 0;

        li:last-child {
            font-weight: bold;
            font-size: clamp(1.2rem, 5vw, 1.5rem);
        }

    }

    button {
        align-self: center;
    }

}