@use '../abstracts/colors';

.container {

    padding: 40px;
    border-bottom: 1px gray solid;

    h2 {
        padding-bottom: 30px;
    }
  
    ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        font-family: monospace, Courier, sans serif;
        font-size: clamp(1.2rem, 5vw, 1.4rem);
        color:#b2becd;
    }

}