@use "../abstracts/colors";
@use "../base/typography";
@use "../abstracts/mixins";
@use "../abstracts/animations";
@use "../abstracts/font_size";
@use "../abstracts/spacing";

body {
  background-color: colors.$primary-white;
  color: colors.$primary-black;
  font-family: typography.$secondary-font-family;
  font-size: 100%;
  height: 100%;
  letter-spacing: 3px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  color: colors.$primary-blue;
  font-family: monospace, sans-serif;
  font-size: clamp(1.2rem, 5vw, 1.8rem);
}

p {
  color: colors.$secondary-black;
  font-size: clamp(font_size.$paragraph-s, 4vw, font_size.$paragraph-m);
  font-weight: 400;
  letter-spacing: 0.012em;
  line-height: 1.4211;
  margin-bottom: spacing.$large;
}
