.tag-filter__container {
  border: 1px solid black;
  display: flex;
  position: relative;
  width: 100%;

  &::after {
    color: black;
    content: "˅";
    display: flex;
    font-size: 2.8rem;
    justify-content: flex-end;
    padding-right: 12px;
    width: 100%;
  }

  &:focus {
    pointer-events: none;

    &::after {
      content: "˄";
    }

    .tag-filter__container--dropdown {
      opacity: 1;
      visibility: visible;
    }
  }

  .tag-filter__container--dropdown {
    background-color: #fffffff5;
    border: 1px black solid;
    box-shadow: 0 5px 5px black;
    display: flex;
    flex-direction: column;
    margin-top: 43px;
    opacity: 0;
    padding: 10px;
    pointer-events: auto;
    position: absolute;
    transition: visibility 1s;
    visibility: hidden;
    width: 100%;
    z-index: 1;

    .tag-filter__container--dropdown-option {
      margin-bottom: 10px;

      input.tag {
        margin-right: 12px;
      }

      label {
        font-size: 1.4rem;
        font-weight: 600;
        padding: 10px;
        text-transform: capitalize;
      }
    }
  }

  @media screen and (width >= 1024px) {
    border: none;

    &::after {
      display: none;
    }

    .tag-filter__container--dropdown {
      border: none;
      box-shadow: none;
      display: block;
      margin-top: 0;
      opacity: 1;
      padding: 0;
      position: relative;
      visibility: visible;

      .tag-filter__container--dropdown-option {
        display: inline-block;
        margin-bottom: 0;

        input {
          &.tag {
            display: none;
          }

          &:checked + label {
            background-color: black;
            color: white;
          }
        }

        label {
          border: solid 1px black;
          display: inline-block;
          font-size: 1.4rem;
          font-weight: 700;
          margin: 4px;
          padding: 4px;
          text-transform: capitalize;

          &:hover {
            background-color: black;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}
