@use "../abstracts/colors";

.container {
  background-color: white;
  height: 40px;
  padding: 8px;
  position: fixed;
  top: 0;
  width: 100vw;

  ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    align-items: center;
    display: flex;
  }

  a {
    color: colors.$primary-blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .separator {
    color: #cccccc;
    margin: 0 5px;
  }
}
