@use "../abstracts/colors";
@use "../abstracts/animations";
@use "../abstracts/mixins";

.cta_button {
  @include mixins.cta-button-appearance ();

  &:hover {
    @include mixins.cta-button-hover ();
  }
}

.navbar_button {
  background-color: transparent;
  border: none;
  color: colors.$primary-white;
  pointer-events: auto;
  transition: animations.$regular-transition;

  &:hover {
    @include mixins.cta-button-hover ();
  }
}
