@use "../abstracts/colors";

.container {
  align-items: center;
  background-color: colors.$gray9;
  border: 2px solid colors.$gray9;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 20px;
  position: sticky;
  top: 0;

  .filter_button {
    background-color: colors.$primary-blue;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
  }

  .scrollable_filters {
    display: flex;
    gap: 10px;
    overflow-x: auto;
  }

  .label {
    align-items: center;
    background-color: white;
    border: 1px solid colors.$gray9;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    padding: 10px;
    transition: background-color 0.2s;
    white-space: nowrap;

    &:hover {
      background-color: colors.$gray8;
    }

    input[type="checkbox"] {
      margin-right: 8px;
    }
  }

  dialog {
    background-color: white;
    border-radius: 15px;
    height: 70vh;
    max-width: 600px;
    overflow-y: auto;
    padding: 20px;
    width: 96vw;

    div {
      align-items: stretch;
      display: flex;
      flex-direction: column;
    }
  }

  .close_button {
    align-self: center;
    background-color: colors.$primary-blue;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: block;
    margin: 20px 0;
    padding: 10px 15px;
  }
}
