@use "../abstracts/colors";

.container {
  background-color: white;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  text-decoration: none;

  &:hover {
    outline: 2px solid colors.$primary-blue;
  }

  a {
    color: colors.$primary-blue;
    text-decoration: none;
  }

  h2 {
    color: colors.$primary-blue;
    font-size: 1.25em;
    font-weight: 900;
    margin-top: 0;
  }

  p {
    color: #555555;
    margin: 10px 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    padding: 0;

    li {
      color: #666666;
      font-size: 0.9em;
    }
  }

  nav {
    column-gap: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    row-gap: 12px;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
