@use "../abstracts/colors";
@use "../abstracts/animations";
@use "../abstracts/mixins";

.container {
  .open {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4fc3f7;
    text-align: center;
    font-size: 16px;
    outline: none;
    cursor: pointer;

    border: solid colors.$secondary-black 2px;
    border-radius: 24px;
    background: colors.$primary-gold;
    background: linear-gradient(
      0deg,
      colors.$primary-gold 0,
      colors.$primary-gold 26%,
      colors.$primary-white 96%
    );
    color: colors.$primary-black;
    padding: 10px 23px;
    pointer-events: auto;
    transition: animations.$regular-transition;

    &:hover {
      @include mixins.cta-button-hover;
    }
  }
}
