@use "../abstracts/colors";
@use "../abstracts/animations";
@use "../abstracts/mixins";

.open {
  bottom: 20px;
  font-size: 16px;
  outline: none;
  position: fixed;
  right: 20px;
  text-align: center;

  @include mixins.cta-button-appearance();

  &::before {
    content: "\1F916 \1F4AC";
  }

  &:hover {
    @include mixins.cta-button-hover();
  }
}
