.container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 375px;
  height: 667px;
  background: white;
  border-radius: 32px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media (max-width: 400px) {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .close_button {
    display: flex;
    align-self: flex-end;
    padding-right: 30px;
    background: none;
    border: none;
    font-size: 20px;
    color: #0d0d0d;
    margin: 4px;
    cursor: pointer;
  }

  .chat_messages {
    overflow-y: auto;
    height: calc(100% - 88px);
    padding: 12px;
    background-color: #e5ddd5;

    .message {
      max-width: 70%;
      margin-bottom: 8px;
      padding: 8px 12px;
      border-radius: 8px;
      word-wrap: break-word;

      &.system {
        color: #000000;
        background-color: #ffffff;
        margin-right: auto;

        &.typing-indicator {
          display: inline-block;
          vertical-align: middle;
          margin: 0 4px;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #ffffff;
          animation: typing-indicator 1s infinite steps(4);
        }

        @keyframes typing-indicator {
          0%,
          20% {
            transform: scale(1);
          }
          50% {
            transform: scale(0.5);
          }
          100% {
            transform: scale(1);
          }
        }
      }

      &.user {
        color: #ffffff;
        background-color: #4fc3f7;
        margin-left: auto;
      }

      &.assistant {
        color: #000000;
        background-color: #ffffff;
        margin-right: auto;
      }
    }
  }

  form {
    display: flex;
    padding: 8px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;

    input {
      flex-grow: 1;
      border: none;
      outline: none;
      padding: 8px 12px;
      border-radius: 18px;
      margin-right: 4px;
      font-size: 16px;

      &::placeholder {
        color: #8e8e93;
      }
    }

    button[type="submit"] {
      background: #34c759;
      color: white;
      font-size: 16px;
      line-height: 20px;
      padding: 8px 16px;
      border-radius: 24px;
      border: none;
      box-shadow: 0px 4px 12px rgba(52, 199, 89, 0.4);
      cursor: pointer;
      outline: none;

      &:hover {
        background: #30b54a;
      }
    }
  }
}
