@use "../abstracts/colors";
@use "../abstracts/mixins";
@use "../abstracts/animations";

.container {
  max-width: 600px;
  width: 100%;

  form {
    align-items: baseline;
    display: flex;

    input {
      border: 1px solid colors.$gray6;
      border-radius: 24px;
      font-size: 16px;
      margin-bottom: 10px;
      outline: none;
      padding: 10px 15px;
      transition: animations.$regular-transition;
      width: 100%;

      &:hover {
        background-color: colors.$primary-gray;
      }

      &:focus {
        border-color: colors.$primary-blue;
      }

      &::placeholder {
        color: colors.$gray6;
      }
    }

    button {
      @include mixins.cta-button-appearance();

      &:hover {
        @include mixins.cta-button-hover();
      }

      &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }
    }
  }

  p {
    color: colors.$primary-green;
  }
}
