@use "../abstracts/colors";
@use "../abstracts/animations";
@use "../abstracts/mixins";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;

  h2 {
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
  }

  form {
    align-items: center;
    background-color: colors.$primary-white;
    border: solid 2px colors.$gray9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    margin-bottom: 20px;
    max-width: calc(100vw - 40px);
    padding: 20px;
    width: 340px;

    textarea {
      border: 2px solid colors.$primary-black;
      border-radius: 10px;
      padding: 10px;
      transition: animations.$regular-transition;

      @include mixins.field-validation();
    }

    label {
      color: colors.$secondary-gray;
      display: flex;
      flex-direction: column;
      width: 100%;

      span {
        padding-bottom: 10px;
      }

      input {
        background-color: colors.$primary-white;
        border: 0;
        border-bottom: 2px solid colors.$secondary-gray;
        border-radius: 10px;
        box-sizing: border-box;
        font-family: Montserrat, sans-serif;
        padding: 10px;
        resize: none;
        transition: animations.$regular-transition;
        width: 100%;

        @include mixins.field-validation();
      }
    }

    button {
      align-self: center;
      margin-top: 20px;

      @include mixins.cta-button-appearance();

      &:hover {
        @include mixins.cta-button-hover();
      }
    }

    p {
      padding: 0;

      &.response-mensaje--error {
        border: solid 2px colors.$primary-red;
      }

      &.response-mensaje--success {
        border: solid 2px colors.$primary-green;
      }
    }

    .loading {
      background: colors.$secondary-gray;

      &:hover {
        @include mixins.cta-button-loading-hover();
      }
    }
  }
}
