@use "../abstracts/colors";
@use "../abstracts/animations";
@use "../abstracts/mixins";

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  position: relative;
  width: 90vw;

  input[type="file"] {
    background-color: transparent;
    border: none;
    color: transparent;
    height: 90px;
    position: absolute;

    &::-webkit-file-upload-button {
      background-color: transparent;
      border: none;
      color: transparent;
    }
  }

  label {
    border: dashed colors.$primary-green 2px;
    display: inline-block;
    padding: 20px 0;
  }
}
