@use "../abstracts/colors";
@use "../abstracts/animations";
@use "../abstracts/mixins";

.container {
  align-items: flex-start;
  background-color: colors.$primary-white;
  border: solid 2px colors.$gray8;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px black;
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  max-width: calc(100vw - 40px);
  padding: 20px 30px;
  row-gap: 10px;
  width: 340px;

  h2 {
    padding: 0;
  }

  textarea {
    border-radius: 10px;
    padding: 10px;
    transition: animations.$regular-transition;
    width: 100%;

    @include mixins.field-validation ();
  }

  label {
    color: colors.$secondary-gray;
    display: flex;
    flex-direction: column;
    width: 100%;

    span {
      padding-bottom: 10px;
    }

    input {
      background-color: colors.$primary-white;
      border: 0;
      border-bottom: 2px solid colors.$secondary-gray;
      border-radius: 10px;
      box-sizing: border-box;
      font-family: Montserrat, sans-serif;
      padding: 10px;
      resize: none;
      transition: animations.$regular-transition;
      width: 100%;

      @include mixins.field-validation ();
    }
  }

  p {
    padding: 0;

    &.response-mensaje--error {
      border: solid 2px colors.$primary-red;
    }

    &.response-mensaje--success {
      border: solid 2px colors.$primary-green;
    }
  }

  button {
    align-self: center;
    @include mixins.cta-button-appearance ();

    &:hover {
      @include mixins.cta-button-hover ();
    }
  }

  .loading {
    background: colors.$secondary-gray;

    &:hover {
      @include mixins.cta-button-loading-hover ();
    }
  }
}
