@use "../abstracts/colors";
@use "../abstracts/mixins";
@use "../abstracts/animations";
@use "../abstracts/font_size";
@use "../abstracts/spacing";

.container {
  display: flex;
  flex-flow: column wrap;
  padding: 0 12px;

  .card_post {
    display: flex;
    flex-flow: column wrap;
    gap: 6px;
    max-width: 1100px;
    transition: animations.$transition-card-post;

    section {
      align-content: center;
      color: colors.$secondary-black;
      display: flex;
      flex-flow: row wrap;
      font-size: 14px;
      gap: 0 12px;

      span {
        color: colors.$secondary-black;
        font-size: clamp(font_size.$paragraph-s, 4vw, font_size.$paragraph-m);
        font-weight: 400;
        letter-spacing: 0.012em;
        line-height: 1.4211;
        text-transform: capitalize;
      }
    }

    h2 {
      padding: 0;

      a {
        color: colors.$primary-black;
        transition: animations.$regular-transition;

        &:hover {
          @include mixins.linkcard-post-hover();
        }
      }
    }

    p {
      color: colors.$secondary-black;
      font-size: clamp(font_size.$paragraph-s, 4vw, font_size.$paragraph-m);
      font-weight: 400;
      letter-spacing: 0.012em;
      line-height: 1.4211;
      padding: 0;
    }

    footer {
      a {
        color: colors.$primary-black;
        font-weight: 600;
        transition: animations.$regular-transition;

        &:hover {
          @include mixins.linkcard-post-hover();
        }
      }
    }
  }
}
