@use "../abstracts/colors";
@use "../abstracts/animations";
@use "../abstracts/mixins";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 56px;
  max-width: 400px;
  width: clamp(90vw, 4vw, 400px);

  label {
    font-size: 2rem;
  }

  .input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
  
    input {
      border: 1px solid #cccccc;
      border-radius: 12px;
      font-size: 1.3rem;
      padding: 1rem;
      width: 80%;
      gap: 12px;
  
      &::placeholder {
        color: gray;
        font-size: 1.3rem;
        text-align: center;
      }
    }
  
    button {
      @include mixins.cta-button-appearance ();
      padding: 0px;
      font-size: 30px;
      width: 46px;
    
      &:hover {
        @include mixins.cta-button-hover ();
      }
  
      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  p {
    color: #333333;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
  }
}
