@use "../abstracts/colors";
@use "../abstracts/animations";
@use "../abstracts/mixins";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 400px;
  width: clamp(90vw, 4vw, 400px);

  label {
    margin-bottom: 0.5rem;
  }

  input {
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;

    &::placeholder {
      color: gray;
      font-size: 20px;
      text-align: center;
    }
  }

  button {
    background: linear-gradient(
      0deg,
      colors.$primary-gold 0,
      colors.$primary-gold 26%,
      colors.$primary-white 96%
    );
    border: solid colors.$secondary-black 2px;
    border-radius: 24px;
    color: colors.$primary-black;
    max-width: 400px;
    padding: 10px 23px;
    pointer-events: auto;
    transition: animations.$regular-transition;
    width: clamp(90vw, 4vw, 400px);
  
    &:hover {
      @include mixins.cta-button-hover ();
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li::before {
      content: '\2713';
      font-weight: 900;
      padding-right: 10px;
    }
  }



  p {
    color: #333333;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
  }
}
