.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 300px;
  margin: auto;

  label {
    margin-bottom: 0.5rem;
  }

  input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;

    &::placeholder {
      font-size: 40px;
      color: gray;
    }
  }

  button {
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover,
    &:focus {
      background-color: #0053a1;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  p {
    margin-top: 1rem;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
}
