@use "../abstracts/colors";
@use "../abstracts/animations";
@use "../abstracts/mixins";

.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: colors.$primary-black;
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow: 0px -3px 11px colors.$secondary-black;
  transition: animations.$regular-transition;
  height: 65px;
  &:hover {
    @include mixins.navbar-hover;
  }

  .title {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: colors.$primary-white;
    font-family: monospace;
    font-size: clamp(1.1rem, 4vw, 1.2rem);
    font-weight: 900;
    text-transform: capitalize;
    padding-left: 20px;
    width: calc(100% - 169px);
    height: 60px;
    background: transparent;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }

  .active {
    height: 30px;
    padding-left: 20px;
    color: colors.$primary-gold;
  }

  .inActive {
    height: 30px;
    padding-left: 20px;
    &::before {
      content: "\20B5";
      color: colors.$primary-gold;
      font-size: 19px;
    }
  }

  div:first-of-type {
    align-self: center;
    padding-right: 20px;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: colors.$primary-black;
    width: 100%;
    padding: 10px;
    border: 1px colors.$primary-black solid;
    position: absolute;
    margin-top: clamp(60px, 18vw, 66px);
    z-index: 1;
    opacity: 1;
    transition: visibility 1s;
    box-shadow: 0px 5px 14px colors.$secondary-black;
    height: 100vh;
    ul {
      padding: 0;
    }

    .dropdown_option {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid colors.$secondary-gray;
      padding: 14px 0px;
      font-size: clamp(1.4rem, 4vw, 1.8rem);

      a {
        color: colors.$primary-white;
        text-decoration: none;
        text-transform: capitalize;
        pointer-events: auto;

        &:hover {
          color: colors.$primary-gold;
        }
      }
    }

    .contact {
      color: colors.$primary-white;
      text-decoration: none;
      pointer-events: auto;
    }
  }
}
