@use '../abstracts/colors';

.container {
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    width: 100%;
    background: colors.$primary-gold;
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0px -3px 11px black;

    &:after { 
        display: flex;
        justify-content: flex-end;
        content: "▾";
        flex: 1;
        color: colors.$primary-black;
        font-size: 1.8rem;
        padding-right: 12px;
    }

    &:focus { 
        pointer-events:none; 
        background-color: colors.$primary-white;

        &:after { 
            content: "▴";
            color: colors.$primary-black;
        }

        .title {
          color: colors.$primary-black;
        }

        .dropdown { 
            opacity: 1; 
            visibility: visible; 
        }
    }

    &:hover {
      cursor: pointer;
      background-color: colors.$primary-white;

      &:after { 
        color: colors.$primary-black;
    }

      .title {
        color: colors.$primary-black;
      }
    }

    .title {
      display: flex;
      align-items: center;
      padding-left: 12px;
      color: colors.$primary-black;
      font-family: monospace;
      font-size: clamp(1.1rem, 4vw, 1.2rem);
      font-weight: 900;
      text-transform: capitalize;
    }

    .dropdown {
      display: flex;
      flex-direction: column;
      background-color: colors.$primary-black;
      width: 100%;
      padding: 10px;
      border: 1px black solid;
      pointer-events: auto;
      position: absolute;
      margin-top: 43px;
      z-index: 1;
      opacity: 1;
      visibility: hidden;
      transition: visibility 1s;
      box-shadow: 0px 5px 14px black;

      .dropdown_option{
          margin-bottom: 10px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-bottom: 1px solid gray;

         a {
             color: colors.$primary-white;
             text-decoration: none;
             text-transform: capitalize;
         }
      }

    }

  }