@use "../abstracts/colors";

.container {
  align-items: center;
  border: solid 1px white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 480px;

  @media (width >= 768px) {
    max-width: 720px;
  }

  .sharing_buttons_container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;

    a {
      padding: 12px 0;
      text-decoration: none;

      svg {
        fill: colors.$primary-green;
        height: 25px;
      }
    }

    .button {
      border-radius: 50px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      color: #ffffff;
      display: inline-block;
      font-weight: bold;
      padding: 10px 20px;
      text-decoration: none;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover,
      &:focus {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
      }

      &:active {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        transform: translateY(1px);
      }
    }
  }

  @media (width <= 480px) {
    .sharing-buttons {
      gap: 8px;
    }

    .sharing-button {
      padding: 8px 16px;
    }
  }
}
