@use "../abstracts/colors";
@use "../abstracts/animations";
@use "../abstracts/mixins";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;

  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  textarea,
  input {
    border: 2px solid colors.$secondary-gray;
    border-radius: 5px;
    font-size: 1.2rem;
    max-width: 600px;
    padding: 1rem;
    resize: none;
    width: 90vw;

    @include mixins.field-validation();
  }

  button {
    background-color: colors.$primary-green;
    border: solid colors.$secondary-black 2px;
    border-radius: 24px;
    color: colors.$primary-black;
    padding: 10px 23px;
    pointer-events: auto;
    transition: animations.$regular-transition;

    &:hover {
      @include mixins.cta-button-hover();
    }
  }

  .analysis_result {
    background-color: colors.$primary-white;
    border-radius: 5px;
    color: colors.$primary-black;
    font-size: 1rem;
    height: 20vh;
    max-height: 300px;
    max-width: 600px;
    outline: solid 2px colors.$primary-green;
    outline-width: thick;
    overflow-y: scroll;
    width: 90vw;
  }

  .user_message {
    height: 20vh;
    max-height: 300px;
  }

  .user_message_context {
    height: 5vh;
    max-height: 100px;
  }

  .results_container {
    border: 2px solid colors.$primary-green;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
    text-align: left;

    .sentiment_analysis,
    .key_phrases,
    .entity_recognition {
      display: flex;
      flex-direction: column;
    }
  }
}
