@use "../abstracts/colors";
@use "../abstracts/animations";
@use "../abstracts/mixins";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    textarea, input {
      padding: 1rem;
      font-size: 1.2rem;
      border: 2px solid colors.$secondary-gray;
      border-radius: 5px;
      resize: none;
      width: 90vw;
      max-width: 600px;

      @include mixins.field-validation ();

    }

    button {
      background: linear-gradient(
        0deg,
        colors.$primary-gold 0,
        colors.$primary-gold 26%,
        colors.$primary-white 96%
      );
      border: solid colors.$secondary-black 2px;
      border-radius: 24px;
      color: colors.$primary-black;
      padding: 10px 23px;
      pointer-events: auto;
      transition: animations.$regular-transition;
    
      &:hover {
        @include mixins.cta-button-hover ();
      }
    }

    .analysis_result {
      background-color: white;
      color: colors.$primary-black;
      width: 90vw;
      max-width: 600px;
      height: 20vh;
      max-height: 300px;
      overflow-y: scroll; 
      font-size: 1rem;
      outline: solid 2px colors.$primary-gold;
      border-radius: 5px;
      outline-width: thick;
    }
    
    .user_message {
      height: 20vh;
      max-height: 300px;
    }

    .user_message_context {
      height: 5vh;
      max-height: 100px;
    }
    
  }
  