@use "../abstracts/colors";
@use "../abstracts/mixins";
@use "../abstracts/animations";
@use "../abstracts/font_size";
@use "../abstracts/spacing";

.container {
  background: colors.$primary-white;

  h1 {
    font-size: clamp(font_size.$title-s, 5vw, font_size.$title-l);
    font-weight: 700;
    letter-spacing: -0.003em;
    line-height: 1.0835;
    text-transform: capitalize;
  }

  h2 {
    font-size: clamp(font_size.$sub-title-s, 5vw, font_size.$sub-title-l);
    font-weight: 700;
    letter-spacing: -0.003em;
    line-height: 1.0835;
    text-transform: capitalize;
  }

  > header {
    display: flex;
    flex-direction: column;
    margin: spacing.$extraLarge auto;
    max-width: 1100px;
    row-gap: spacing.$large;

    > h1 {
      margin: 0 auto;
    }

    > h2 {
      border-bottom: 2px solid colors.$primary-black;
      margin: 0 spacing.$small;
      padding: 0;
      padding-bottom: spacing.$small;
    }
  }

  > main {
    margin: auto;
    max-width: 1100px;

    > ul {
      margin: 0 spacing.$small;
      padding: 0;
      row-gap: spacing.$large;

      a {
        text-decoration: none;
      }
    }
  }
}
