@use "../abstracts/colors";
@use "../abstracts/mixins";
@use "../abstracts/animations";

.container {
  width: 100%;
  min-height: 100%;
  background-color: colors.$primary-white;
  a {
    text-decoration: none;
    color: colors.$secondary-black;
  }
  nav {
    position: sticky;
    & > div {
      top: 0;
    }
  }
  header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    div {
      color: colors.$secondary-black;
      a {
        transition: animations.$regular-transition;
        &:hover {
          @include mixins.linkCardPost-hover;
        }
      }
    }
  }
  ul {
    margin-bottom: 0;
    padding-bottom: 24px;
  }
  h1 {
    margin-top: 24px;
    text-align: center;
    color: colors.$primary-black;
  }

  main {
    margin-top: 24px;
  }
}
