// We use when the phone is small
$screen-phone-small: 375px;

// We use when the phone is common or portrait
$screen-phone: 480px;

// We use when the phone is landscape or table is portrait
$screen-tablet-portrait: 768px;

// We use when the tablet is landscape or monitor is small
$screen-tablet-landscape: 992px;

// We use when the monitor is common or larger monitor
$screen-desktop: 1200px;
