/* New colors */

$primary-black: #12181b;
$gray1: #2C2C2E;
$gray2: #3A3A3C;
$gray3: #48484A;
$gray4: #636366;
$gray5: #8E8E93;
$gray6: #AEAEB2;
$gray7: #C7C7CC;
$gray8: #D1D1D6;
$gray9: #E5E5EA;
$primary-white: #ffffff;

$primary-blue: #007AFF;
$dark-blue: #0040DD;
$primary-cyan: #32ADE6;
$dark-cyan: #0071A4;
$primary-teal: #30B0C7;
$dark-teal: #008299;
$primary-mint: #00C7BE;
$dark-mint: #0C817B;
$primary-green: #34C759;
$dark-green: #248A3D;

/* Old colors */
$secondary-black: #000000cc;
$terciary-black: #f5f5f50a;
$cuaternary-black: #322f3d;
$primary-gray: #f5f5f5;
$secondary-gray: #b2becd;
$primary-gold: #af8e3c;
$primary-blue: #0066cc;
$primary-green: #0d974e;
$primary-red: #f65353;
