/* New colors */

$primary-black: #12181b;
$gray1: #2c2c2e;
$gray2: #3a3a3c;
$gray3: #48484a;
$gray4: #636366;
$gray5: #8e8e93;
$gray6: #aeaeb2;
$gray7: #c7c7cc;
$gray8: #d1d1d6;
$gray9: #e5e5ea;
$primary-white: #ffffff;
$primary-blue: #007aff;
$dark-blue: #0040dd;
$primary-cyan: #32ade6;
$dark-cyan: #0071a4;
$primary-teal: #30b0c7;
$dark-teal: #008299;
$primary-mint: #00c7be;
$dark-mint: #0c817b;
$primary-green: #34c759;
$dark-green: #248a3d;

/* Old colors */
$secondary-black: #000000cc;
$terciary-black: #f5f5f50a;
$cuaternary-black: #322f3d;
$primary-gray: #f5f5f5;
$secondary-gray: #b2becd;
$primary-gold: #af8e3c;
$primary-blue: #0066cc;
$primary-green: #0d974e;
$primary-red: #f65353;
