@use "./colors";
@use "./animations";

@mixin cta-button-hover {
  background: colors.$primary-blue;
  color: colors.$primary-white;
  cursor: pointer;
}

@mixin cta-button-appearance {
  background: linear-gradient(
    0deg,
    colors.$primary-gold 0,
    colors.$primary-gold 26%,
    colors.$primary-white 96%
  );
  border: solid colors.$secondary-black 2px;
  border-radius: 24px;
  color: colors.$primary-black;
  padding: 10px 23px;
  pointer-events: auto;
  transition: animations.$regular-transition;
}

@mixin navbar-hover {
  background-color: colors.$secondary-black;

  .title {
    color: colors.$primary-white;

    &::before {
      color: colors.$primary-gold;
    }
  }
}

@mixin cta-button-loading-hover {
  background: colors.$secondary-gray;
  color: colors.$primary-black;
  cursor: default;
}

@mixin card-post-hover {
  border-color: colors.$primary-gold;
  box-shadow: 0 0 40px -10px black;
}

@mixin linkcard-post-hover {
  color: colors.$primary-gold;
}

@mixin field-validation {
  &:focus {
    outline-color: colors.$secondary-gray;

    &:invalid {
      outline-color: colors.$primary-gold;
    }
  }
}