@use "./colors";

@mixin cta-button-hover {
  background: colors.$primary-blue;
  color: colors.$primary-white;
  cursor: pointer;
}

@mixin navbar-hover {
  cursor: pointer;
  background-color: colors.$secondary-black;

  .title {
    color: colors.$primary-white;

    &::before {
      color: colors.$primary-gold;
    }
  }
}

@mixin navbar-focus {
  pointer-events: none;
  background-color: colors.$secondary-black;

  .title {
    color: colors.$primary-white;

    &::before {
      color: colors.$primary-gold;
      content: "X";
    }
  }

  .dropdown {
    opacity: 1;
    visibility: visible;
  }
}
