@use "./colors";
@use "./animations";

@mixin cta-button-hover {
  background: colors.$secondary-blue;
  color: colors.$primary-black;
  cursor: pointer;
}

@mixin cta-button-appearance {
  background-color: colors.$primary-pink;
  border: none;
  border-radius: 24px;
  color: colors.$primary-black;
  padding: 10px 14px;
  pointer-events: auto;
  transition: animations.$regular-transition;
}

@mixin navbar-hover {
  .title {
    color: colors.$primary-white;

    &::before {
      color: colors.$primary-pink;
    }
  }
}

@mixin cta-button-loading-hover {
  background: colors.$secondary-gray;
  color: colors.$primary-black;
  cursor: default;
}

@mixin card-post-hover {
  border-color: colors.$primary-pink;
  box-shadow: 0 0 40px -10px black;
}

@mixin linkcard-post-hover {
  color: colors.$primary-pink;
}

@mixin field-validation {
  &:focus {
    outline-color: colors.$secondary-gray;

    &:invalid {
      outline-color: colors.$primary-pink;
    }
  }
}
