@use "./colors";

@mixin cta-button-hover {
  background: colors.$primary-blue;
  color: colors.$primary-white;
  cursor: pointer;
}

@mixin navbar-hover {
  background-color: colors.$secondary-black;

  .title {
    color: colors.$primary-white;

    &::before {
      color: colors.$primary-gold;
    }
  }
}

@mixin cta-button-loading-hover {
  background: colors.$secondary-gray;
  color: colors.$primary-black;
  cursor: default;
}

@mixin cardPost-hover {
  border-color: colors.$primary-gold;
  box-shadow: 0 0 40px -10px black;
}

@mixin linkCardPost-hover {
  color: colors.$primary-gold;
}
