// https://1linelayouts.glitch.me/
// https://codepen.io/una/pen/WNQdBza

/*HTML

<div class="parent">
  <div class="child">1</div>
  <div class="child">2</div>
  <div class="child">3</div>
</div>

*/

.parent {
    display: flex;
    flex-wrap: wrap;
  }
  
.child {
    //  flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
    //  If we don't want the items to stretch:
    flex: 0 1 300px;
    //  If we do want the items to stretch:
    flex: 1 1 300px;

    //   etc.
    border: 1px solid red;
    background: lightpink;
    font-size: 2rem;
    text-align: center;
}
  