// https://1linelayouts.glitch.me/
// https://codepen.io/una/pen/xxZKzaX

/* HTML

<div class="card">
  <h1>Title Here</h1>
  <div class="visual"></div>
  <p>Descriptive Text. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed est error repellat veritatis.</p>
</div>

*/

body {
  display: grid;
  height: 100vh;
  place-items: center;
}

.visual {
  aspect-ratio: 16/9;
  background: wheat;
  margin: 0.5rem 0;
}

.card {
  background: lightpink;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 80%;
}

h1 {
  font-size: 1.5rem;
}
