// https://1linelayouts.glitch.me/
// https://codepen.io/una/pen/QWyLxaL

/*HTML

<div class="card">
  <h1>Title Here</h1>
  <div class="visual"></div>
  <p>Descriptive Text. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed est error repellat veritatis.</p>
  <br/>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum eveniet beatae veritatis saepe corporis voluptates illo placeat maxime sapiente. Sit facere cumque quidem ad quo, dolores pariatur repudiandae ullam animi?</p>
</div>

*/


body {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  .visual {
    height: 100px;
    width: 100%;
    background: wheat;
    margin: 0.5rem 0;
  }
  
  .card {
    width: clamp(45ch, 50%, 75ch);
    display: flex;
    flex-direction: column;
    background: lightpink;
    padding: 1rem;
  }
  
  h1 {
    font-size: 1.5rem;
  }
