// https://1linelayouts.glitch.me/
// https://codepen.io/una/pen/oNbvNQv

/* HTML

<div>1</div>
<div>2</div>
<div>3</div>
<div>4</div>

*/

body {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: 100vh;
}

// etc

div {
  background: lightpink;
  display: grid;
  place-items: center;
}
