// https://1linelayouts.glitch.me/
// https://codepen.io/una/pen/gOaNeWL

//This element takes the second grid position (1fr), meaning it takes up the rest of the remaining space.

/*HTML

<div class="sidebar" contenteditable>
  Min: 150px
  <br/>
  Max: 25%
</div>
<p class="content" contenteditable>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  Omnis nulla architecto maxime modi nisi. Quas saepe dolorum, 
  architecto quia fugit nulla! Natus, iure eveniet ex iusto tempora 
  animi quibusdam porro?</p>
  
*/


body {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
    padding: 0;
    margin: 0;
  }
  
  .sidebar {
    height: 100vh;
    
    //   etc.
    background: lightpink;
    font-size: 2rem;
    text-align: center;
  }
  
  .content {
    padding: 2rem;
  }
